.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* General layout styles */
.layout.light-mode {
    min-height: 100vh;
    width: 100%;
    background: #AEC5EE;
    color: #2454AD;

  }

  .layout.dark-mode {
    min-height: 100vh;
    width: 100%;
    background: #2454AD;
    color: #AEC5EE;


  }

  /* Header styles */
  .header {
    position: fixed;
    flex-direction: row;
    display: flex;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid #0C1629;
    overflow: hidden;

  }

  .header.light-mode {
    background: #ffffff;
    color: #fff;
  }

  .header.dark-mode {
    background: #001529;
    color: #fff;
  }

  /* Menu styles */
  .menu {
    height: 64px;
    line-height: 64px;
    width: 80%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .menu.light-mode {
    background: #2454AD;
    color: #0C1629;
    overflow: hidden;

  }

  .menu.dark-mode {
    background: #001529;
    color: #fff;
    overflow: hidden;

  }

  /* Logo styles */
  .logo {
    height: 70px;
    z-index: 1;
    position: absolute;
    right: 10px;
    top: 0px;


  }
  /* content */
  .content{
    margin: 70px 10px 10px 10px;

  }

  /* Theme button styles */
  .theme-button.light-mode {
    position: absolute;
    right: 10px;
    bottom: 70px;
    z-index: 1;
    background: #fff;
    color: #001529;
    border: none;
  }

  .theme-button.dark-mode {
    position: absolute;
    right: 10px;
    bottom: 70px;
    z-index: 1;
    background: #001529;
    color: #fff;
    border: none;
  }

  /* Footer styles */
  .footer {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 40px;
    background-color: antiquewhite;
  }
/* image carousel */
/* Carousel Container */
.carousel-container {
    width: 100%;
    max-width: 890px;
    max-height: 400px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
  }

  /* Carousel Item */
  .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 100%;
  }

  /* Carousel Image */
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    height: auto;
  }

  /* Mobile Friendly */
  @media (max-width: 768px) {
    .carousel-item {
      height: 200px;
    }
  }
